<app-header></app-header>
<mat-drawer-container class="example-container">
	<mat-drawer mode="side" opened>
		<div class="sidebar-user text-center">
			<img class="user-img" src="/assets/images/profile.png" alt="userImg">
			<h3 class="mt-3 m-0 text-uppercase fw-bold user-name">Fazeel</h3>
			<h3 class="m-0">Super Admin</h3>
		</div>
		<mat-selection-list #shoes [multiple]="false" class="mt-2 menu-items">
			<mat-list-option *ngFor="let item of menuItems" [value]="item" [routerLink]="item.route">
				<span>
					<img [src]="item.icon" class="menu-item-icon" [alt]="item.icon">
				</span>
				<span class="menu-item-text">
					{{item.text}}
				</span>
			</mat-list-option>
		</mat-selection-list>

	</mat-drawer>
	<mat-drawer-content>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>